@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

nav {
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    border-bottom: 2px solid black;
}

ul {
    text-decoration: none;
}

.nav-li {
    display: inline;
}

#right-nav {
    float: right;
    margin-right: 50px;
}

li a {
    color: black;
    margin: 10px;
    padding: 25px;
}

section {
    position: relative;
    /* background-color: blueviolet; */
    height: 100vh;
    width: 100vw;
    font-size: 40px;
    font-family: 'Oswald', sans-serif;
}

.left {
    width: 45%;
}

.btn {
    background-color: blueviolet;
    color: white;
    padding: 15px;
    border-radius: 5px;
    font-size: 20px;
}

.card {
    margin: 1%;
    position: relative;
    display: inline-block;
    width: 25%;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.card-h2 {
    font-size: 24px;
    margin: 10px 0;
}

.card-para {
    font-size: 16px;
}

#map {
    display: inline-block;
}

.right {
    display: inline-block;
    width: 45%;
}

#Skills {
    margin-left: 5%;
}